<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>영화 목록</title>
</head>
<body>

<h2>영화 목록</h2>

<button onclick="location.href='/admin/movie/create'" class="btn">영화 추가</button>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>제목</th>
        <th>개봉일</th>
        <th>러닝타임</th>
        <th>등급</th>
        <th>배급사</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.releaseDate}"></td>
        <td th:text="${movie.runningTime} + '분'"></td>
        <td th:text="${movie.ageRating}"></td>
        <td th:text="${movie.distributor}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
